.container{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vh;
}

body{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: blueviolet;
    width: 100vh;
}

h1{
    color: blue;
    width: 100vh;
}

.cabecera{
    color: rgb(119, 48, 26);
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 50px;
    width: 100vh;
}

p{
    font-size: 30px ;
    color: #a0d118;
}